*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#071120;
color:white;
overflow-x:hidden;
}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

background:rgba(0,0,0,.3);

backdrop-filter:blur(12px);

position:sticky;
top:0;
z-index:1000;
}

.logo{

font-size:32px;
font-weight:700;

background:linear-gradient(
90deg,
#38bdf8,
#8b5cf6
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-weight:600;
}

nav a:hover{
color:#38bdf8;
}

.hero{

min-height:90vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;
}

.hero-content{

max-width:900px;
}

.profile-img{

width:200px;
height:200px;

border-radius:50%;

object-fit:cover;

border:5px solid #38bdf8;

margin-bottom:30px;
}

.hero h1{

font-size:70px;

margin-bottom:15px;
}

.hero h2{

font-size:32px;

color:#94a3b8;

margin-bottom:20px;
}

.hero p{

font-size:20px;

line-height:1.8;

margin-bottom:40px;

color:#cbd5e1;
}

.hero-btn{

display:inline-block;

padding:16px 40px;

border-radius:50px;

text-decoration:none;

font-weight:bold;

background:linear-gradient(
135deg,
#2563eb,
#7c3aed
);

color:white;
}

.hero-btn:hover{

transform:translateY(-3px);
}

.academy-section{

padding:80px 40px;
}

.academy-section h2{

text-align:center;

font-size:48px;

margin-bottom:50px;
}

.academy-grid{

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;
}

.card{

padding:30px;

border-radius:20px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(10px);

border:1px solid rgba(255,255,255,.1);

text-decoration:none;

color:white;

transition:.3s;
}

.card:hover{

transform:translateY(-10px);
}

.card h3{

margin-top:15px;

margin-bottom:10px;

font-size:24px;
}

.card p{

color:#cbd5e1;
}

.vision{

padding:100px 30px;

text-align:center;
}

.vision h2{

font-size:48px;

margin-bottom:25px;
}

.vision p{

font-size:22px;

max-width:900px;

margin:auto;

line-height:1.8;

color:#cbd5e1;
}

footer{

padding:40px;

text-align:center;

background:#0f172a;

margin-top:80px;
}