*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#071120;
color:white;
}

/* Header */

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:#0f172a;
}

.logo{

font-size:32px;
font-weight:700;
color:#38bdf8;
}

.home-btn{

text-decoration:none;

color:white;

padding:12px 20px;

background:#1e293b;

border-radius:10px;
}

/* Hero */

.hero{

padding:120px 30px;

text-align:center;
}

.hero h1{

font-size:72px;

margin-bottom:20px;
}

.hero h2{

font-size:34px;

color:#94a3b8;

margin-bottom:25px;
}

.hero p{

max-width:900px;

margin:auto;

font-size:22px;

line-height:1.8;

color:#cbd5e1;
}

/* Roadmap */

.roadmap{

padding:80px 30px;
}

.roadmap h2{

text-align:center;

font-size:50px;

margin-bottom:60px;
}

.levels{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(260px,1fr));

gap:25px;

max-width:1400px;

margin:auto;
}

.level-card{

text-decoration:none;

color:white;

padding:35px;

border-radius:20px;

background:linear-gradient(
135deg,
#2563eb,
#7c3aed
);

transition:.3s;
}

.level-card:hover{

transform:translateY(-10px);
}

.level-card{

font-size:28px;
font-weight:700;
}

.level-card span{

display:block;

margin-top:15px;

font-size:18px;

font-weight:400;
}

/* Journey */

.career-path{

padding:100px 30px;

text-align:center;
}

.career-path h2{

font-size:50px;

margin-bottom:40px;
}

.journey{

max-width:1200px;

margin:auto;

padding:40px;

border-radius:20px;

background:#0f172a;

font-size:24px;

line-height:2;
}

/* Footer */

footer{

margin-top:80px;

padding:30px;

text-align:center;

background:#0f172a;
}