*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#071120;
color:white;
}

/* Header */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#0f172a;
}

.logo{
font-size:28px;
font-weight:700;
color:#38bdf8;
}

.back-btn{
text-decoration:none;
color:white;
background:#1e293b;
padding:12px 20px;
border-radius:10px;
}

/* Hero */

.hero{
padding:100px 20px;
text-align:center;
}

.hero h1{
font-size:64px;
margin-bottom:20px;
}

.hero p{
max-width:900px;
margin:auto;
font-size:22px;
line-height:1.8;
color:#cbd5e1;
}

/* Topics */

.roadmap{
padding:80px 30px;
}

.roadmap h2{
text-align:center;
font-size:48px;
margin-bottom:50px;
}

.topic-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:25px;
max-width:1400px;
margin:auto;
}

.topic-card{
background:#0f172a;
padding:30px;
border-radius:20px;
text-decoration:none;
color:white;
transition:.3s;
display:block;
}

.topic-card:hover{
transform:translateY(-8px);
border:1px solid #38bdf8;
}

.topic-card h3{
margin-top:15px;
margin-bottom:10px;
font-size:24px;
}

.topic-card p{
color:#cbd5e1;
line-height:1.8;
}

/* Summary */

.summary{
padding:100px 30px;
text-align:center;
}

.summary h2{
font-size:48px;
margin-bottom:25px;
}

.summary p{
max-width:900px;
margin:auto;
font-size:22px;
line-height:1.8;
color:#cbd5e1;
}

/* Footer */

footer{
margin-top:60px;
padding:30px;
text-align:center;
background:#0f172a;
}

.content-section{
max-width:1200px;
margin:auto;
padding:80px 30px;
}

.content-section h2{
font-size:42px;
margin-bottom:25px;
color:#38bdf8;
}

.content-section p{
font-size:20px;
line-height:1.9;
color:#cbd5e1;
}

.flow-diagram{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
gap:15px;
padding:50px 20px;
}

.flow-box{
background:#0f172a;
padding:20px 30px;
border-radius:12px;
font-weight:700;
}

.arrow{
font-size:28px;
color:#38bdf8;
}

.steps{
padding-left:25px;
line-height:2;
font-size:20px;
}

.key-list{
padding-left:25px;
line-height:2;
font-size:20px;
}

.qa h3{
margin-top:25px;
margin-bottom:10px;
color:#38bdf8;
}

.diagram-section{
text-align:center;
padding:80px 30px;
}

.diagram-section h2{
font-size:42px;
margin-bottom:30px;
}